.container{
    background: url("https://lh3.googleusercontent.com/5bkS8bAAUTDOZuGw5FrBiNrFlhtaoxJUWaEmpWlfT94K0cTCkP5kCPykAVSz9dDzmYbAshh1ru2uBbOvWGMKO3AG54SJCfvPCZYCqw-OqDt4y_F2dsSFW19Yb-aBVvx5QAl9AGaUZf8l5j9WJzdVrbM8qaWA9c31PLnBX_F6DfTpVB5dXcU4dega9Ih-GuSHsIMy4tUR_bRcIcPKPPjyv7zWw79L2eE5iWiK5cVlA8y8b5l8LHXKNUTgas4RULZrWtcc3GA2CW_M85kx34-PE74YecDc4eLM_KKrXxhFd-mUTbeDbPpJBVHIw9WCMFd_6ZMoBpM0JQwtn_InnRGfAK_odl2cT5bGY0m9KA2NbDx7lHbwSu54xczseClF-FnvQwDfmdVLgLxXGn1KffgdSJ5rZh_1Slx155sziVgFW826LFwOGna4MwDigsjg3ntBwwMCMoHHMu1fudWcKg-U3GA_XdgxvmXHuIKp2UymCUwaP-IjLjn2VbNf1aHXLzcYadG7j3FbJYrccFpa_7ZIY5JzdDwFs5WLek1V3kjW_carq11XiyNqehqarShzt0ty5ABesNv1D-FWAe_Oxs3JE07WzEAYKT-A50B4bbaZOBGIdrkqTkReFh3B8gCORRPJt8EMeEgGMPzJIYPC9FOBc3AcL-61RJZQ6-9fubsd79z2fL5RQ6MPgLuyr3Y77XY=w1294-h669-no");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 21%;
    text-align: center;
    color:black;
    

  }
  